@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  padding: 20px 50px;
  background: linear-gradient(to right, #cd915f, #7f968b);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  width: 250px;
  cursor: pointer;
}

body {
  color: #ededed;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

section:nth-child(odd) {
  background: grey;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 2s;
}

.navbar a:hover {
  color: pink;
}

.home {
  height: 100vh;
  background: url(Images/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-info {
  max-width: 600px;
}

.home-info h1 {
  font-size: 56px;
  font-weight: 700px;
  line-height: 1.2;
}

.home-info h3 {
  font-size: 32px;
  font-weight: 700;
  color: #344e41;
}
.about {
  width: 100%;
  padding: 100px 0px;
}

.about img {
  height: auto;
  width: 430px;
}

.about-text {
  width: 550px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h2 {
  color: #344e41;
  font-size: 50px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.about-text h5 {
  font-size: 21px;
  letter-spacing: 2px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.projects {
  background: #011010;
  width: 100%;
  padding: 100px 0px;
}
.title {
  width: 100%;
  text-align: center;
  justify-content: space-around;
}

.title h2 {
  color: white;
  font-size: 50px;
  margin: 30px 0;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {
  height: 100%;
  width: 100%;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image {
  width: 100%;
  height: auto;
  max-height: 100px;
  object-fit: cover;
}

.card-image1 {
  width: 300px;
  height: 200px;
  max-height: 200px;
  object-fit: cover;
  position: center;
}

h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 10px;
}

.pra p {
  color: lightseagreen;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.button {
  background-color: pink;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: lightpink;
}

.contact-me {
  width: 100%;
  height: 290x;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social a {
  margin-bottom: 10px;
}

.contact-me p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.button-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: pink;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button-circle i {
  color: white;
  font-size: 24px;
}

.button-circle:hover {
  background-color: lightpink;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
